/*------------------------------------*\
#CUSTOM
\*------------------------------------*/

/**
* This file contains any additional or override CSS for the Custom theme: any
* customisations that can’t be handled by `_settings.custom.scss`.
*/

@font-face {
  font-family: 'proxima nova';
  src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proxima nova';
  src: url('../fonts/proxima_nova_reg-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima nova';
  src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'proxima nova';
  src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



.hidden-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: none;
  }
}

.hidden-xs {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.container-fluid [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.slick-slide img {
  margin-left: auto;
  margin-right: auto;
}

.article {
  > .container {
    max-width: 1500px;
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    position: relative;

    > .row {
      margin-left: 0;
      margin-right: 0;
    }

    + [class^="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }


}

.article__content {
  padding: 110px 100px 0 100px;

  @media(max-width: $screen-sm-max) {
    padding: 0 60px 30px;
  }
  @media(max-width: $screen-xs-max) {
    padding: 30px;
  }
}

.outline-image {

  @media(max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }

  @media(min-width: $screen-sm-min) {
    margin-right: 38px;

    &::before {
      border: 5px solid $color-outline-image-border;
      content: '';
      height: 100%;
      width: calc(100% - 68px);
      display: block;
      position: absolute;
      top: 38px;
      left: 53px;
    }
  }
}

.outline-image img {
  position: relative;
}

.outline-border-white {
  .outline-image:before {
    border-color: $color-white;
  }
}


.implant {
  text-align: center;
}

.implant__note {
  color: $color-implant;
  display: inline-block;
  height: 115px;
  position: absolute;
  transition: all 300ms linear 0s;
}

.implant__note--crown {
  right: calc( 50% - 98px - 70px);
  top: 0;
}

.implant__note--crown .implant__indicator {

  @media (max-width: $screen-md) {
    width: 155px;
  }
}

.implant__note--crown.show-cont .plus-icon:after {
  float: left;

  width: 64px;

  @media (min-width: $screen-sm) {
    width: 60px;
  }

  @media (min-width: $screen-md) {
    width: 155px;
  }
}

.implant__note--crown.show-cont .implant__note-name {
  right: 22px;

  @media (min-width: $screen-md) {
    right: -34px;
  }
}

.implant__note--abutment {
  left: 200px;
  top: 300px;
}

.implant__note--post {
  bottom: 70px;
  right: calc( 50% - 168px - 15px);
}

.implant__note--post.show-cont .plus-icon:after {
  width: 54px;

  @media (min-width: $screen-sm) {
    width: 48px;
  }

  @media (min-width: $screen-md) {
    width: 155px;
  }
}

.implant__indicator {
  margin-top: 67px;
  width: 192px;
  transition: all 300ms linear 0s;
}

.implant__note-name {
  float: left;
  margin-left: -53px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  text-transform: uppercase;
  height: 91px;
  line-height: 20px;
  position: relative;
  letter-spacing: 0.2px;
}

.implant__note--post .implant__note-name {
  transform-origin: top;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
}




.implant__note-name:before {
  background: $color-implant;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: calc(50% - 4px);
  transition: all 300ms linear 0s;
}

.implant__note-name:after {
  content: '';
  display: block;
  width: 2px;
  height: 58px;
  position: absolute;
  top: 33px;
  left: calc(50% - 1px);
  transition: all 300ms linear 0s;
  background: $color-implant;
}

.plus-icon:before {
  content: '';
  width: 49px;
  height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid;
  border-radius: 100%;
  -webkit-animation: doublePulse 1.5s ease infinite;
  animation: doublePulse 1.5s ease infinite;
  z-index: 0;
}
.plus-icon {
  float: left;
  width: 49px;
  height: 49px;
  border-radius: 100%;
  padding: 8px;
  position: relative;
  transition: all 300ms linear 0s;
  transition-duration: 150ms;
}

.plus-icon:after {
  float: left;
  margin-left: 30px;
  background: $color-implant;
  content: '';
  height: 2px;
  display: block;
  margin-top: -17px;
  transition: all 300ms linear 0s;
  transition-duration: 150ms;
  width: 0;
}

.plus-icon .plus {
  float: left;
  background: $color-implant;
  color: #fff;
  border-radius: 100px;
  width: 100%;
  display: block;
  line-height: 31px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all 300ms linear 0s;
}
@-webkit-keyframes doublePulse {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes doublePulse {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.implant__note.show-cont .implant__note-name {
  transform-origin: bottom;
  transition: transform 150ms ease 150ms,-webkit-transform 150ms ease 150ms;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  float: left;
  position: absolute;
  right: -34px;
  top: 0px;
}

.implant__note.show-cont .implant__indicator .plus-icon:after {
  width: 149px;
}
.implant__note--crown.implant__note.show-cont .implant__indicator .plus-icon:after {
  width: 152px;
}
.implant__note--abutment.implant__note.show-cont .implant__indicator .plus-icon:after {
  width: 151px;
}
.implant__note--post .implant__note-name {
  padding-top: 75px;
  top: 22px;
}
.implant__note--post .implant__note-name:before {
  top: 58px;
}
.implant__note--post .implant__indicator {
  margin-top: 0;
}
.implant__note--post .implant__note-name:after {
  top: 0;
}
.implant__note--post.show-cont .implant__note-name {
  right: -88px;
  top: 22px;
  transform-origin: top;
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
}

.implant__note--abutment {
  left: calc( 50% - 192px);
  top: 140px;
}

.implant__note--abutment .plus-icon {
  float: right;
}

.implant__note--abutment .plus-icon:after {
  float: right;
}

.implant__note--abutment.show-cont .implant__note-name {
  left: 35px;
  right: initial;
}
header .container .pull-right .tab-bottom>li  {
  text-align: center;
}
header .container .pull-right .tab-bottom>li:nth-child(2) {
  width: 210px;
  max-width: 210px;
}

header .container .pull-right .tab-bottom>li:nth-child(3) {
  width: 144px;
  max-width: 144px;
}

header .container .pull-right .tab-bottom>li:nth-child(1) {
  width: 160px;
  max-width: 160px;
}



.hamburger {
  display: none;
  position: relative;
  float: right;
  height: 70px;
  min-width: 70px;
  width: 10%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-appearance: button;
  cursor: pointer;
  top: 22px;
  outline:  0;
  z-index: 9;
}

.hamburger .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #182752;
  margin: 0 auto;
  opacity: 1;
  -moz-transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  -o-transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  -webkit-transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25);
  -webkit-transition-delay: 0ms;
  -webkit-transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
}

.hamburger .icon-bar + .icon-bar {
  margin-top: 4px;
}

.hamburger .icon-bar:nth-of-type(3) {
  -moz-transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  -o-transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  -webkit-transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25);
  -webkit-transition-delay: 0ms;
  -webkit-transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
}

.hamburger:active {
  -webkit-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
}

.hamburger.active .icon-bar {
  -webkit-transform:  scale(1, 1) rotateZ(45deg) translate(4px, 4px);
  transform:  scale(1, 1) rotateZ(45deg) translate(4px, 4px);
}

.hamburger.active .icon-bar:nth-of-type(odd) {
  opacity: 0;
  -webkit-transform:  scale(0, 0) rotateZ(0) translate(0, 0);
  transform:  scale(0, 0) rotateZ(0) translate(0, 0);
}

.hamburger.active .icon-bar:last-of-type {
  -webkit-transform:  scale(1, 1) rotateZ(-45deg) translate(4px, -4.5px);
  transform:  scale(1, 1) rotateZ(-45deg) translate(4px, -4.5px);
}

@media (max-width: 1185px) {
  header .container > .pull-right .tab-bottom {
    height: 70px !important;
    width: 100%;
    max-width: 636px;
  }
}

header .container>.pull-right .tab-top {
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;
}
.sr-only {
  display: none;
}

header .container .logo {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  padding: 10px 30px;
}

header .container .logo--left {
  @include justify-content(flex-start);
}

header li a {
  &:hover {
    text-decoration: none;
  }
}

#overland-main-nav>li>div>ul a, #nav-container li>ul a {
  font-size: 16px;
}


.mt150 {
  @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
    margin-top: 75px;
  }
  @media(min-width: $screen-lg-min) {
    margin-top: 150px;
  }
}

#overland-main-nav>li.about>ul {
  @media(max-width: 1185px) {
    left: initial;
  }
}
