/*------------------------------------*\
  #CUSTOM
\*------------------------------------*/

/**
 * This file contains any additional or override CSS for the Custom theme: any
 * customisations that can’t be handled by `_settings.custom.scss`.
 */

@font-face {
    font-family: 'proxima nova';
    src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'proxima nova';
    src: url('../fonts/proxima_nova_reg-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima nova';
    src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'proxima nova';
    src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



.hidden-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: none;
  }
}

.hidden-xs {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.container-fluid [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.slick-slide img {
  margin-left: auto;
  margin-right: auto;
}

.article {
  > .container {
    max-width: 1500px;
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    position: relative;

    > .row {
      margin-left: 0;
      margin-right: 0;
    }

    + [class^="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
  

}

.article__content {
  padding: 110px 100px 171px;

  @media(max-width: $screen-sm-max) {
    padding: 0 60px 30px;
  }
  @media(max-width: $screen-xs-max) {
    padding: 30px;
  }
}

.outline-image {
  margin-right: 38px;
  }
  .outline-image::before {
    border: 5px solid #2796C0;
    content: '';
    height: 100%;
    width: calc(100% - 68px);
    display: block;
    position: absolute;
    top: 38px;
    left: 53px;
  }
  .outline-image img {
    position: relative;
  }


header .container {
  /*
  -webkit-transition: all, 200ms, linear, 400ms;
  transition: all, 200ms, linear, 400ms;*/
  width: 100% !important;
  height: 100% !important;
  background: #f9f9f9 !important;
}

header .container .logo {
  display: block;
  background-color: #182752;
  width: 25%;
  max-width: 360px;
  min-width: 290px;
  height: 100%;
  opacity: 1 !important;
  z-index: 3;
  position: relative;
}

header .container .logo h1 {
  margin: 0;
  margin-top: 2px;
  text-align: center;
  font-weight: 500 !important;
}
header .container .logo h1 img {
  width: 110%;
  max-width: 274px;
  margin: 0 -5% -12px -5%;
}
@media (max-width: 992px) {
  header .container .logo h1 {
  }
}

@media (max-width: 480px) and (min-width: 428px) {
header .container .logo h1 {
  margin-top: 5px;
}
}

@media (max-width: 426px){
header .container .logo h1 {
  margin-top: -2px;
}
}

header .container .logo h1:before {
  color: #F9F9F9;
  font-size: 68.5px;
  display: block;
  padding-left: 4px;
}

@media (max-width: 992px){

}

header .container .logo h1 small {
  display: block;
  font-family: "brandon-grotesque";
  font-weight: 700;
  color: #1A9CC3;
  text-transform: uppercase;
  font-size: 7.6875px;
  font-size: 12px;
  margin-top: -10px;
}
@media (max-width: 480px) {

  header .container .logo {
    width: 75%;
    max-width: 290px;
    min-width: initial;
  }

  header .container .logo h1:before {
    font-size: 42.5px;
    font-size: 63.5px;

    margin-top: -2px;
}

  header .container .logo h1 small {
    font-size: 8.5px;
    font-size: 0.935rem;
    padding: 0;
    line-height: 1.3;
    width: 100%;
    margin: -8px auto 0 auto;
  }
}

@media (max-width: 350px) {

  header .container .logo {
    width: 75%;
    max-width: 290px;
    min-width: initial;

  }

  header .container .logo h1:before {
    margin-top: 2px;
    font-size: 42.5px;
    font-size: 4.75rem;
  }

  header .container .logo h1 small {
    font-size: 8.5px;
    font-size: 0.85rem;
    padding: 0;
    line-height: 1.3;
    width: 100%;
    margin: -8px auto 0 auto;
  }
}

header .container > .pull-right {
  max-width: 809px;
  width: 75%;
  position: absolute;
  right: 0;
}

header .container > .pull-right .tab-bottom, header .container > .pull-right .tab-top {
  width: 100%;
}

header .container > .pull-right .tab-bottom li, header .container > .pull-right .tab-top li {
  height: 100%;
  float: left;
  display: table;
  padding: 0;
}

header .container .pull-right .tab-bottom > li:nth-last-child(2) {
  background-color: #1A9CC3;
  color: #fff;
  height: 50%;
}

header .container .pull-right .tab-bottom > li:nth-last-child(1) {
  border-top: 1px Solid #1996bb;
  background-color: #1A9CC3;
  color: #fff;
  height: 50%;
}

header .container > .pull-right .tab-bottom li a, header .container > .pull-right .tab-bottom li span, header .container > .pull-right .tab-top li a, header .container > .pull-right .tab-top li span {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  opacity: 1 !important;
  font-weight: 700;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
}

header .container > .pull-right .tab-bottom li a.applyNav, header .container > .pull-right .tab-bottom li span.applyNav, header .container > .pull-right .tab-top li a.applyNav, header .container > .pull-right .tab-top li span.applyNav {
  color: #1A9CC3;
}

header .container > .pull-right .tab-bottom li a.applyNav img, header .container > .pull-right .tab-bottom li span.applyNav img, header .container > .pull-right .tab-top li a.applyNav img, header .container > .pull-right .tab-top li span.applyNav img {
  top: -1px;
  position: relative;
}

header .container > .pull-right .tab-top {
  max-width: 290px;
  height: 30px;
  background-color: #1A9CC3;
  color: white;
  display: none;
}

header .container > .pull-right .tab-top li {
  width: 50%;

}

header .container > .pull-right .tab-top li span, header .container > .pull-right .tab-top li a {
  color: white;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-size: 0.9rem;
  border-right: 1px solid #1996bb;
  line-height: 1;
}

header .container > .pull-right .tab-top li:last-of-type span, header .container > .pull-right .tab-top li:last-of-type a {
  border: 0;
}

/* First order menu */

header .container > .pull-right .tab-bottom {
  height: 100px;
  width: 100%;
  max-width: 875px;
}

/* Safari white-space fixes */

header .container .pull-right .tab-bottom > li:nth-child(1) {
  width: 114px;
  max-width: 114px;

}


header .container .pull-right .tab-bottom > li:nth-child(2) {
  width: 146px;
  max-width: 146px;
}


header .container .pull-right .tab-bottom > li:nth-child(3) {
  width: 124px;
  max-width: 124px;
}


header .container .pull-right .tab-bottom > li:nth-child(4) {
  width: 182px;
  max-width: 182px;
}


#overland-main-nav {
  margin-bottom: 0;
  margin-left: 0;
}

header .container .pull-right .tab-bottom > li:nth-last-child(2) > a {
  color: #fff;
  font-size: .95rem;
  width: 173px;
}

header .container .pull-right .tab-bottom > li:nth-last-child(1) > a {
  color: #fff;
  font-size: .95rem;
  width: 173px;
}

header .container .pull-right .tab-bottom > li a {
  color: #182752;
  font-size: 18px;
}

header .container .pull-right .tab-bottom > li:nth-last-child(2).active {
  background-color: #182753;
  color: #fff;
}

header .container .pull-right .tab-bottom>li:nth-child(4) {
  width: 122px;
  max-width: 122px;
}
/* Second order menu*/

#nav-container > ul > li:hover > a,
#nav-container > ul:not( :hover ) > li.active > a {
  color: #fff;
  background-color: #182753;
}

#overland-main-nav > li {
  position: relative;
}

/* Special trips nav */
#overland-main-nav > li > div#trips-container {
  display:none;
  position: absolute;
  width: 207px;
  height: 344px;
  background-color: #182753;
  top: 100%;
  left: 0;
  right: 0;
}
#overland-main-nav ul {
  margin-bottom: 0;
}
#overland-main-nav > li a:hover {
  text-decoration: none;
}
#overland-main-nav > li > div#trips-container ul {
  padding: 50px 20px 50px 30px;
  background-color: #182753;
  width: 207px;
  text-align: left;
}

#overland-main-nav ul {
  margin-left: 0;
}
/* Any other submenu */
#overland-main-nav > li > ul {
  display: none;
  position: absolute;
  background-color: #182753;
  text-align: left;
  padding: 50px 0px 50px 30px;
  width: 207px;
  top: 100%;
  left: 0;
  right: 0;
}
#overland-main-nav > li.learn-more > ul.sub-menu-item {
  width: 318px;
}
#overland-main-nav > li > ul.sub-menu-item {
  width: 250px;
  padding-right: 30px;
}
@media (max-width: 875px) {
  #overland-main-nav li ul.sub-menu-item {
    width: 250px;
    top: 100%;
  }
  #overland-main-nav li ul {
    padding: 25px 30px;
  }
  #nav-container li ul a {
    font-size: .8rem !important;
  }
}
/* Make sure cursor maintains hover all over*/
#nav-container li > div#trips-container > ul > li,
#nav-container li > ul > li {
    width: 100%;
    float: none;
}
#nav-container li > div#trips-container > ul > li > a,
#nav-container li > ul > li > a {
    padding-top: 12px;
    width: 100%;
}

#nav-container li > div#trips-container > ul > li:first-child > a,
#nav-container li > ul > li:first-child > a {
    padding-top: 0;
}

#overland-main-nav > li:hover > div#trips-container,
#overland-main-nav > li:hover > ul {
  display: block;
}

#overland-main-nav > li > div > ul a,
#nav-container li > ul a {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #1A9CC3;
}
#nav-container li ul li a:hover,
#nav-container li ul:not( :hover ) li.active a {
  color: #fff;
}

/* Third order menu: Flyout trips */

#overland-main-nav li div#trips-container ul li div.category-container {
  visibility: hidden;
  opacity: 0;
  background-color: #182753;
  position: absolute;
  width: 495px;
  height: 344px;
  top: 0;
  left: 100%;
  transition-property: visibility, opacity;
  -moz-transition-property: visibility, opacity;
  -webkit-transition-property: visibility, opacity;

  transition-timing-function: linear;
  -moz-transition-function: linear;
  -webkit-transition-function: linear;

  transition-duration: 0s, 0.5s;
  -moz-transition-duration: 0s, 0.5s;
  -webkit-transition-duration: 0s, 0.5s;

  transition-delay: 0.5s, 0.5s;
  -moz-transition-delay: 0.5s, 0.5s;
  -webkit-transition-delay: 0.5s, 0.5s;
}

#overland-main-nav li div#trips-container ul li div.category-container:after {
  content:"";
  background: #1A9CC3;
  position: absolute;
  bottom: 50px;
  opacity: .5;
  left: 0;
  height: 75%;
  width: 1px;
}

#overland-main-nav li div#trips-container ul li div.category-container a.button-nav {
  font-size: .9rem;
  color: #fff;
  padding: 8px;
  border: Solid 1px #9DBD59;
  position: absolute;
  bottom: 42px;
  right: 104px;
}

#overland-main-nav li div#trips-container ul li div.category-container a.button-nav:hover {
  color: white;
  border-color: #749039
}

#overland-main-nav li div#trips-container ul li div.category-container a.button-nav:active {
  bottom: 43px;
}

#overland-main-nav li div#trips-container ul li div.category-container ul.trips {
  text-align: left;
  padding: 50px 30px 50px 50px;
  width: inherit;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#nav-container ul li ul.trips > li {
    display: inline-block;
    margin-bottom: -2px;
    width: 100%;
    float: none;
}

#overland-main-nav li div#trips-container ul li:hover > div.category-container {
  visibility: visible;
  opacity: 1;
  transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;

  transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}

#overland-main-nav li div#trips-container ul li ul.trips li.trip a {
  font-family: "proxima-nova" !important;
  line-height: 1.1em;
  text-transform: none;
  font-weight: normal;
  font-size: .9rem;
  color: #fff;
}

#overland-main-nav li div#trips-container ul li ul.trips li.trip a:hover {
  color: #ccc;
}

#overland-main-nav li div#trips-container ul li ul.trips li.trip a span {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-transform: uppercase;;
  font-weight: bold;
  font-size: .72rem;
  color: #9DBD59;
}

/* Responsiveness styles */

@media (max-width: 1185px) {

  header .container > .pull-right .tab-bottom {
    height: 70px !important;
    width: 100%;
    max-width: 826px;
  }

  header .container > .pull-right {
    width: 100%;
    max-width: 100%;
    padding-left: 290px;

    z-index: 0;
  }

  header .container > .pull-right .tab-bottom li a {
    font-size: 10px;
    font-size: 1rem;
  }

  header .container .pull-right .tab-bottom > li:nth-last-child(2) {
    display: none;
  }

  header .container .pull-right .tab-bottom > li:nth-last-child(1) {
    display: none;
  }
  header .container .pull-right .tab-bottom > li {
    width: 25% !important;
    /* clear Safari hack */
    max-width: 25% !important;
    min-width: 25% !important;
  }
  header .container .pull-right .tab-bottom > li > a {
    width: 100% !important;
    /* clear Safari hack */
    max-width: 100% !important;
    min-width: 100% !important;
  }
  header .container > .pull-right .tab-top {
    display: block;
  }
}
@media (max-width: 950px) {
  #overland-main-nav li div#trips-container ul li div.category-container {
    display: none !important;
  }
}
@media (max-width: 838px) {

  header .container > .pull-right {
    width: 100%;
    max-width: 100%;
    padding-left: 290px;
  }

  header .container > .pull-right .tab-bottom {
    display: none;
  }
  #nav-container li ul a {
    font-size: .7rem !important;
  }
}
@media (max-width: 425px) {

  header .container .menu-button {
    width: 25%;
    top: 0;
    margin: 0;
    height: 100%;
  }
}

@media (max-width: 550px) {

  header .container > .pull-right .tab-top li {
    width: 100%;
  }

  header .container > .pull-right .tab-top li span, header .container > .pull-right .tab-top li a {
    border: 0;
  }

  header .container > .pull-right .tab-top li.hide-later {
    display: none;
  }
}
@media (max-width: 425px) {

  header .container > .pull-right .tab-top {
    display: none;
  }
}

/* Mobile menu styles */

#overland-main-nav-mobile li ul {
  display: none;
}

#overland-main-nav-mobile li:hover label.drop-icon > img.point-down {
  display: block;
}

#overland-main-nav-mobile li:hover label.drop-icon > img.point-right {
  display: none;
}

.point-down {
  display: none;
}

.point-right, .point-down {
  position: absolute;
  right: 2.5em;
  top: 1.6em;
  z-index: 19;
}

.point-down-transform img.point-down {
  display:block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.point-down-transform img.point-right {
  display:none;
}

#overland-main-nav-mobile li label.drop-icon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}

#overland-main-nav-mobile label.drop-icon {
  padding: 25px 45px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 transparent;
}

.mobile-nav-shadow {
  position: fixed;
  background: #182752;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 7;
  -moz-transition: opacity 500ms ease 0ms;
  -o-transition: opacity 500ms ease 0ms;
  -webkit-transition: opacity 500ms ease;
  -webkit-transition-delay: 0ms;
  -webkit-transition: opacity 500ms ease 0ms;
  transition: opacity 500ms ease 0ms;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: screen;
  mix-blend-mode: color;
}

@media (max-width: 838px) {
  .mobile-nav-shadow {
    display: block !important;
  }
  .hamburger {
    display: block !important;
  }
}

.mobile-nav-shadow.active {
  -moz-transition: opacity 350ms ease 0ms;
  -o-transition: opacity 350ms ease 0ms;
  -webkit-transition: opacity 350ms ease;
  -webkit-transition-delay: 0ms;
  -webkit-transition: opacity 350ms ease 0ms;
  transition: opacity 350ms ease 0ms;
  opacity: 1;
  pointer-events: auto;
}

#main {
  transition: all 400ms ease 0ms;
}

.mobile-nav-shadow.active ~ #main {
  transform: translateX(-25%);
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.mobile-nav {
  background-color: #F9F9F9;
  position: fixed;
  text-align: left;
  opacity:  0;
  width: 80%;
  right: 0%;
  height: 100%;
  max-height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  min-width: 256px;
  max-width: 320px;
  top: 0px;
  z-index: 8;
  padding-top: 100px;
  color: #182752;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  -moz-transition: all 500ms ease 0ms;
  -o-transition: all 500ms ease 0ms;
  -webkit-transition: all 500ms ease;
  -webkit-transition-delay: 0ms;
  -webkit-transition: all 500ms ease 0ms;
  transition: all 500ms ease 0ms;
}
@media (min-width: 768px) {

  .mobile-nav {
    display: none !important;
  }
}

.mobile-nav li {
  height: 100%;
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.mobile-nav li.active:after {
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #1a9cc3;
}

.mobile-nav li a, .mobile-nav li span {
  position: relative;
  display: block;
  color: #182752;
  width: 100%;
  padding: 15px 8%;
  font-size: 11.25px;
  font-size: 1.125rem;
  vertical-align: middle;
  text-transform: uppercase;
  opacity: 1 !important;
  font-weight: 800;
}

.mobile-nav li ul li > a {
  padding: 5px 8%;
}

.mobile-nav li ul li:first-child {
  margin-top: -10px;
}
.mobile-nav li ul li:last-child > a {
  padding-bottom: 15px;
}

.mobile-nav li:hover, .mobile-nav li a:hover, .mobile-nav li a.applyNav, .mobile-nav li span:hover, .mobile-nav li span.applyNav {
  background-color: white;
  color: #1A9CC3;
}

.mobile-nav li.show-later {
  display: none;
  background-color: #1A9CC3;
  color: white;
}

.mobile-nav li.show-later a, .mobile-nav li.show-later span {
  color: white;
  text-align: left;
}

.mobile-nav li.show-later a:hover, .mobile-nav li.show-later span:hover {
  background-color: #182753;
}
@media (max-width: 550px) {

  .mobile-nav li.show-later {
    display: table;
  }

  .mobile-nav li.show-later.later {
    display: none;
  }
}
@media (max-width: 425px) {

  .mobile-nav li.show-later.later {
    display: table;
  }

  .mobile-nav li.show-later.later a {
    display: table-cell;
    width: 100%;
    text-align: left;
  }
}

.mobile-nav.active {
  -moz-transition: all 350ms ease 0ms;
  -o-transition: all 350ms ease 0ms;
  -webkit-transition: all 350ms ease;
  -webkit-transition-delay: 0ms;
  -webkit-transition: all 350ms ease 0ms;
  transition: all 350ms ease 0ms;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}
@media (max-width: 425px) {

  .mobile-nav {
    padding-top: 80px;
  }

  /*
  .mobile-nav li a {
    width: 100%;
    padding: 0 8%;
  }*/
}

/* Mobile menu touch styles */

#overland-main-nav li.has-child.hover {
  background-color: #182753;
}

#overland-main-nav li.has-child.hover > a {
  color: #fff;
}

li.has-child.hover ul,
li.has-child.hover div {
  display:block !important;
}

li.inner-child.hover-inner > a {
  color: #fff !important;
}

li.inner-child.hover-inner div.category-container {
  visibility: visible !important;
  opacity: 1 !important;
  transition-duration: 0s !important;
  -moz-transition-duration: 0s !important;
  -webkit-transition-duration: 0s !important;

  transition-delay: 0s !important;
  -moz-transition-delay: 0s !important;
  -webkit-transition-delay: 0s !important;
}


.implant {
  text-align: center;
}

.implant__note {
  color: $color-secondary;;
  display: inline-block;
  height: 115px;
  position: absolute;
  transition: all 300ms linear 0s;
}

.implant__note--crown {
  right: calc( 50% - 192px - 70px);
  top: 0;
}

.implant__note--abutment {
  left: 200px;
  top: 300px;
}

.implant__note--post {
  bottom: 70px;
  right: calc( 50% - 192px - 15px);
}

.implant__indicator {
  margin-top: 67px;
  width: 192px;
  transition: all 300ms linear 0s;
}

.implant__note-name {
  float: left;
  margin-left: -53px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  text-transform: uppercase;
  height: 91px;
  line-height: 20px;
  position: relative;
  letter-spacing: 0.2px;
}

.implant__note--post .implant__note-name {
  transform-origin: top;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
}




.implant__note-name:before {
  background: $color-secondary;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: calc(50% - 4px);
  transition: all 300ms linear 0s;
}

.implant__note-name:after {
  content: '';
  display: block;
  width: 2px;
  height: 58px;
  position: absolute;
  top: 33px;
  left: calc(50% - 1px);
  transition: all 300ms linear 0s;
  background: $color-secondary;
}

.plus-icon:before {
    content: '';
    width: 49px;
    height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid;
    border-radius: 100%;
    -webkit-animation: doublePulse 1.5s ease infinite;
    animation: doublePulse 1.5s ease infinite;
    z-index: 0;
}
.plus-icon {
  float: left;
  width: 49px;
  height: 49px;
  border-radius: 100%;
  padding: 8px;
  position: relative;
  transition: all 300ms linear 0s;
  transition-duration: 150ms;
}

.plus-icon:after {
  float: left;
  margin-left: 30px;
  background: $color-secondary;
  content: '';
  height: 2px;
  display: block;
  margin-top: -17px;
  transition: all 300ms linear 0s;
  transition-duration: 150ms;
  width: 0;
}

.plus-icon .plus {
  float: left;
  background: $color-secondary;
  color: #fff;
  border-radius: 100px;
  width: 100%;
  display: block;
  line-height: 31px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all 300ms linear 0s;
}
@-webkit-keyframes doublePulse {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes doublePulse {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.implant__note.show-cont .implant__note-name {
  transform-origin: bottom;
  transition: transform 150ms ease 150ms,-webkit-transform 150ms ease 150ms;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  float: left;
  position: absolute;
    right: -34px;
    top: 0px;
}

.implant__note.show-cont .implant__indicator .plus-icon:after {
  width: 149px;
}
.implant__note--crown.implant__note.show-cont .implant__indicator .plus-icon:after {
  width: 152px;
}
.implant__note--abutment.implant__note.show-cont .implant__indicator .plus-icon:after { 
  width: 151px;
}
.implant__note--post .implant__note-name {
  padding-top: 75px;
  top: 22px;
}
.implant__note--post .implant__note-name:before {
  top: 58px;
}
.implant__note--post .implant__indicator {
  margin-top: 0;
}
.implant__note--post .implant__note-name:after {
  top: 0;
}
.implant__note--post.show-cont .implant__note-name {
  right: -88px;
  top: 22px;
    transform-origin: top;
    -moz-transform-origin: top;
    -webkit-transform-origin: top;
}

.implant__note--abutment {
  left: calc( 50% - 192px);
  top: 140px;
}

.implant__note--abutment .plus-icon {
  float: right;
}

.implant__note--abutment .plus-icon:after {
  float: right;
}

.implant__note--abutment.show-cont .implant__note-name {
  left: 35px;
  right: initial;
}
header .container .pull-right .tab-bottom>li  {
  text-align: center;
}
header .container .pull-right .tab-bottom>li:nth-child(2) {
  width: 210px;
  max-width: 210px;
}

header .container .pull-right .tab-bottom>li:nth-child(3) {
  width: 144px;
  max-width: 144px;
}

header .container .pull-right .tab-bottom>li:nth-child(1) {
  width: 160px;
  max-width: 160px;
}



.hamburger {
  display: none;
  position: relative;
  float: right;
  height: 70px;
  min-width: 70px;
  width: 10%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-appearance: button;
  cursor: pointer;
  top: 22px;
  outline:  0;
  z-index: 9;
}

.hamburger .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #182752;
  margin: 0 auto;
  opacity: 1;
  -moz-transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  -o-transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  -webkit-transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25);
  -webkit-transition-delay: 0ms;
  -webkit-transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  transition: all 125ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
}

.hamburger .icon-bar + .icon-bar {
  margin-top: 4px;
}

.hamburger .icon-bar:nth-of-type(3) {
  -moz-transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  -o-transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  -webkit-transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25);
  -webkit-transition-delay: 0ms;
  -webkit-transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
  transition: all 50ms cubic-bezier(0.45, 0.5, 0.75, 1.25) 0ms;
}

.hamburger:active {
  -webkit-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
}

.hamburger.active .icon-bar {
  -webkit-transform:  scale(1, 1) rotateZ(45deg) translate(4px, 4px);
  transform:  scale(1, 1) rotateZ(45deg) translate(4px, 4px);
}

.hamburger.active .icon-bar:nth-of-type(odd) {
  opacity: 0;
  -webkit-transform:  scale(0, 0) rotateZ(0) translate(0, 0);
  transform:  scale(0, 0) rotateZ(0) translate(0, 0);
}

.hamburger.active .icon-bar:last-of-type {
  -webkit-transform:  scale(1, 1) rotateZ(-45deg) translate(4px, -4.5px);
  transform:  scale(1, 1) rotateZ(-45deg) translate(4px, -4.5px);
}

@media (max-width: 1185px) {
  header .container > .pull-right .tab-bottom {
    height: 70px !important;
    width: 100%;
    max-width: 636px;
}
}

header .container>.pull-right .tab-top {
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;
}
.sr-only {
  display: none;
}

header .container .logo {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

header li a {
  &:hover {
    text-decoration: none;
  }
}

#overland-main-nav>li>div>ul a, #nav-container li>ul a {
  font-size: 16px;
}


.mt150 {
  @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
    margin-top: 75px;
  }
  @media(min-width: $screen-lg-min) {
    margin-top: 150px;
  }
}

#overland-main-nav>li.about>ul {
  @media(max-width: 1185px) {
    left: initial;
  }
}