.mm-menu {
  background: $color-site-mobile-nav-bg;
  color: $color-white;
  border-color: $color-site-mobile-nav-border;

  a,
  span {
    font-weight: 700;
    text-transform: uppercase;
    // font-family: 'Lato';
  }

  .mm-listview .mm-counter {
    color: $color-site-mobile-nav-num;
  }

  .mm-listview li:after, .mm-listview > li .mm-next:after {
    border-color: $color-dark-gray;
  }

  .mm-btn:after,
  .mm-btn:before {
    border-color: $color-site-mobile-nav-border;
  }

  .mm-navbar {
    background: $color-site-mobile-nav-menu;
    border-bottom: 0;
    line-height: 40px;
    height: 60px;
    padding: 0 60px;


    a {
      color: #fff;
    }
  }

  .mm-btn {
    width: 40px;
    height: 60px;
  }

  .mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
    margin-top: 0;
  }

  .mm-navbars-bottom {
    padding: 20px 0;
    border-top: 0;
    a {
      font-weight: normal;
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      background: $color-accent;
      height: 80px;
      width: 80px;
      font-size: 30px;
      border-radius: 100%;
      margin: 0 auto;
      &:focus,
      &:active {
        background-color: darken($color-accent, 20%);
      }
    }

    .mm-navbar {
      background: transparent;
      height: 80px;
      padding: 0 30px;
    }
  }
}
