/*------------------------------------*\
  #PAGE
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
  font-size: ($global-font-size / 16px) * 1em;
  line-height: $global-line-height / $global-font-size;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  @include font-family(sans-serif);
  background-color: $color-page-background;
  color: $color-white;
}


body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  margin-top: 0px;
  counter-reset: poss-numb-list-counter;

  transition: all 300ms ease;
  margin-top: 100px;
}