/*------------------------------------*\
  #LINKS
\*------------------------------------*/

/**
 * Default styles for simple hyperlinks.
 */

a {
  color: $color-links;
  @include font-weight(bold);
  text-decoration: none;

  @include hocus() {
    text-decoration: underline;
  }
}

.link-dark {
  color: $color-custom-one;
}

.link-tertiary {
  color: $color-tertiary;
}
