///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

/**
 * Colour palette. Grouped by purpose
 *
 * 1. Base Colors
 * 2. Theme Colors
 * 3. Text Colors
 */
$color-white: #fff;
$color-gray: #adadad;                                 /* [1] */
$color-dark-gray: darken($color-gray, 15%);           /* [1] */
$color-light-gray: lighten($color-gray, 20%);         /* [1] */
$color-lighter-gray: lighten($color-gray, 28%);       /* [1] */

$color-accent: #ff82ca;                               /* [2] */
$color-dark-accent: darken($color-accent, 6%);        /* [2] */
$color-darker-accent: darken($color-accent,20%);      /* [2] */
$color-light-accent: lighten($color-accent, 7%);      /* [2] */

$color-primary: #1c1b2b;                              /* [2] */
$color-dark-primary: darken($color-primary, 2%);      /* [2] */
$color-light-primary: lighten($color-primary, 4%);    /* [2] */
$color-secondary: #484B4E;                            /* [2] */
$color-light-secondary: transparentize($color-secondary, .9);  /* [2] */

$color-tertiary: #8783d1;                             /* [2] */
$color-dark-tertiary: darken($color-tertiary, 30%);   /* [2] */
$color-transparent-tertiary: transparentize($color-tertiary, .4);                             /* [2] */
$color-tint: #EEEEEE;                                 /* [2] */
$color-highlight: #DB7D3B;                            /* [2] */
$color-custom-one: $color-light-primary;              /* [2] */
$color-custom-two: #2D3F55;                           /* [2] */
$color-custom-three: #14204B;                         /* [2] */

$color-text: #696969;                                 /* [3] */
$color-text-hover: #ccc;                              /* [3] */
$color-headlines: $color-white;                       /* [3] */
$color-headlines-underline: $color-tertiary;          /* [3] */




// Reassign literal variables to meaningful ones.

// 1. Body colors
$color-page-text:                       $color-text;
$color-page-background:                 $color-white;

// 2. Links
$color-links:                           $color-accent;
$color-links-hover:                     $color-accent;

// Strong tags
$color-strong-tag:                      $color-primary;


// Buttons
$color-btn:                             $color-white;
$color-btn-background:                  $color-primary;
$color-btn-background-hover:            $color-tertiary;
$color-btn--secondary:                  $color-white;
$color-btn-background--secondary:       $color-secondary;
$color-btn-hover--secondary:            $color-white;
$color-btn-background-hover--secondary: $color-primary;
$color-btn--accent:                     $color-white;
$color-btn-background--accent:          $color-accent;
$color-btn-border--accent:              $color-dark-accent;
$color-btn-hover--accent:               $color-white;
$color-btn-background-hover--accent:    $color-dark-accent;
$color-btn-border-hover--accent:        $color-dark-accent;
$color-btn-ghost--primary:              $color-primary;
$color-btn-ghost-hover--primary:        $color-white;
$color-btn-ghost-bg-hover--primary:     $color-tertiary;
$color-btn-outline--primary:            $color-primary;
$color-btn-outline--secondary:          $color-secondary;
$color-btn-outline--accent:             $color-accent;
$color-btn-view-more:                   $color-primary;

$color-play-button:                     $color-white;

// Accordion
$color-accordion-title-bg-color:        $color-light-gray;
$color-accordion-title-text:            $color-custom-two;
$color-accordion-title-active-bg-color: $color-tertiary;
$color-accordion-title-active-text:     $color-white;
$color-accordion-content-bg-color:      $color-lighter-gray;
$color-accordion-content-text:          $color-custom-two;

// Block list
$color-blist-border:                    $color-lighter-gray;
$color-blist-border--secondary:         $color-secondary;

// Cards
$color-card:                            $color-white;
$color-card-bg:                         $color-primary;
$color-card-play-button:                $color-play-button;
$color-card-dot:                        $color-gray;
$color-card-dot-active:                 $color-tertiary;

// Counter
$color-counter:                         $color-primary;
$color-counter-bg:                      transparent;

// Fifty Fifty Module
$color-fifty:                           $color-white;
$color-fifty-bg:                        $color-primary;
$color-fifty-border:                    $color-tertiary;
$color-fifty-play-button:               $color-play-button;
$color-fifty-play-button-bg:            transparentize($color-tertiary, .3);
$color-fifty-play-button-bg-hover:      $color-tertiary;

// Widgets
$color-widget:                          $color-white;
$color-widget-bg:                       $color-primary;


// Implant
$color-implant:                         $color-tertiary;

// Masthead
$color-masthead-background:             $color-light-secondary;
$color-masthead:                        $color-white;
$color-masthead-banner:                 #14204B;
$color-masthead-banner-link:            #EF5D60;

// Masthead Tabs
$color-masthead-tab:                    $color-white;
$color-masthead-tab-one-bg:             $color-darker-accent;
$color-masthead-tab-one-bg-hover:       lighten($color-darker-accent, 6%);
$color-masthead-tab-two-bg:             $color-dark-accent;
$color-masthead-tab-two-bg-hover:       lighten($color-dark-accent, 0.5%);
$color-masthead-tab-three-bg:           $color-accent;
$color-masthead-tab-three-bg-hover:     lighten($color-accent, 4%);

// 3. Page Head
$color-page-head:                       transparent;
$color-page-head-background:            $color-dark-primary;
$color-page-head-nav-background:        $color-dark-primary;
$color-page-head-logo-bg:               $color-light-primary;

// Sections
$color-section-list-border:             $color-tint;
$color-section-overlay:                 $color-white;
$color-section-overlay-bg:              rgba(1, 77, 101, .75);
$color-section-bg:                      $color-primary;
$color-section-pattern-bg:              $color-primary;

// Site Footer
$color-site-foot:                       $color-white;
$color-site-foot-bg:                    $color-primary;
$color-site-foot-link:                  $color-white;
$color-site-foot-link-hover:            $color-accent;
$color-site-foot-header:                $color-white;
$color-site-foot-header-border:         lighten($color-site-foot-bg, 25%);
$color-site-foot-reviews-bg:            darken($color-site-foot-bg, 2%);
$color-site-foot-reviews:               $color-white;
$color-site-foot-reviews-hover:         $color-accent;

// Site Navigation
$color-site-nav-contact:                $color-white;
$color-site-nav-contact-border:         $color-dark-accent;
$color-site-nav-contact-bg:             $color-accent;
$color-site-nav-contact-hover:          $color-white;
$color-site-nav-contact-bg-hover:       $color-dark-accent;
$color-site-nav:                        $color-white;
$color-site-nav-hover:                  $color-white;
$color-site-nav-bg-hover:               $color-light-primary;
$color-site-nav-sub:                    $color-white;
$color-site-nav-sub-bg:                 $color-light-primary;
$color-site-nav-sub-hover:              $color-accent;
$color-site-nav-sub-sub:                $color-white;
$color-site-nav-sub-sub-border:         $color-accent;
$color-site-nav-sub-sub-hover:          $color-text-hover;
$color-site-nav-hamburger:              $color-tertiary;
$color-site-mobile-nav-bg:              $color-primary;
$color-site-mobile-nav-border:          $color-light-gray;
$color-site-mobile-nav-menu:            $color-tertiary;
$color-site-mobile-nav-menu-bottom:     $color-accent;
$color-site-nav-link:                   $color-white;
$color-site-nav-link-hover:             $color-accent;

// T-List
$color-t-list-icon:                     #979797;

// Tabs
$color-tabs-bg:                         $color-white;
$color-tab-border-right:                $color-light-gray;
$color-tab-active-border-top:           $color-accent;
$color-tab-active-mobile-bg:            $color-accent;

// Testimonials
$color-testimonials-bg-hover:           $color-transparent-tertiary;
$color-testimonials:                    $color-white;
$color-testimonials-play-button:        $color-play-button;

// Transparent Block
// $color-transblock:                      #2796C0;
$color-transblock-header-bg:            transparentize($color-primary, .3);
$color-trabsblock-list-item-border:     #979797;

// Video Box
$color-video-box-caption-bg:            $color-white;
$color-video-box-play-bg:               transparentize($color-tertiary, .3);
$color-video-box-play:                  $color-white;
$color-video-box-play-bg-hover:         $color-tertiary;
$color-video-play:                      $color-white;
$color-video-play-bg:                   rgba(15,26,68,.80);
$color-video-play-bg-hover:             rgba(15,26,68,1);

// Outline Image Border
$color-outline-image-border:            $color-tertiary;
