.t-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 70%;
  @media(max-width: 1200px) {
    width: 65%;
  }

  @media(max-width: $screen-sm-max) {
    width: 100%;
  }
}

  .t-list__item {
    position: relative;
    padding: 60px 0;
    clear: both;
    z-index: 1;

    @media(max-width: $screen-sm-max) {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;

      .pull-left {
        width: 100%;
      }
    }
  }

  .t-list__title {
    text-transform: uppercase;
    width: 190px;
    margin-left: -320px;
    position: absolute;
    left: 0;
    text-align: right;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: .32px;
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-end);
    min-height: 75px;

    @media(max-width: $screen-sm-max) {
      margin-bottom: 30px;
      @include justify-content(center);
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -102px;
      top: 0px;
      width: 80px;
      height: 75px;
      border-right: 2px solid $color-t-list-icon;

      @media(max-width: $screen-sm-max) {
        right: 50%;
        margin-right: -2px;
        bottom: -16px;
        height: 12px;
        top: auto;
      }
    }

    &:before {
      top: 35px;
      height: 0px;
      border-top: 2px solid $color-t-list-icon;

      @media(max-width: $screen-sm-max) {
        right: 50%;
        bottom: -16px;
        top: auto;
        margin-right: -40px;
      }
    }

    @media(max-width: $screen-sm-max) {
      position: relative;
      width: 100%;
      word-spacing: inherit;
      text-align: center;
      margin-left: 0;
    }
  }

    .t-list__content {
      font-size: 24px;
      line-height: 34px;
      letter-spacing: .32px;

      @media(max-width: $screen-sm-max) {
        text-align: center;
      }
    }
