.video-box {
  position: relative;
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  @media(max-width: $screen-sm-max) {
    margin-top: 60px;
  }

  @media(max-width: $screen-md-max) {
    box-shadow: 0 0 30px 0 rgba(51,51,51,0.23);
  }
}

.video-box--large {
  max-width: 888px;
  @media(max-width: $screen-sm-max) {
    margin-top: 0;
  }
}

  .video-box__thumbnail {
    position: relative;
    z-index: 1;
    margin-left: 60px;
    margin-bottom: 85px;

    @media(max-width: $screen-md-max) {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  .video-box__caption {
    position: absolute;
    left: 0;
    top: 85px;
    background: $color-video-box-caption-bg;
    color: $color-video-box-caption;
    width: calc(100% - 60px);
    margin-right: 60px;
    height: 100%;
    padding: 25px;
    box-shadow: 0 0 30px 0 rgba(51,51,51,0.23);

    @media(max-width: $screen-md-max) {
      width: 100%;
      position: relative;
      top: 0;
      box-shadow: none;
    }
  }

  .video-box__caption--large {
    height: calc(100% + 20px);

    @media(max-width: $screen-xs-max) {
      height: 100%;
    }
  }

  .video-box__copy {
    @include display(flex);
    @include align-items(flex-end);
    height: 100%;
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
  }

   .video-box__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 142px;
    width: 142px;
    border-radius: 100%;
    background-color: $color-video-box-play-bg;
    transition: background-color .3s ease-in-out;
    color: $color-video-box-play;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    font-size: 27px;

    &:hover,
    &:focus {
      background-color: $color-video-box-play-bg-hover;
      text-decoration: none;
      outline: none;
    }
  }

  .video-play {

    height: 142px;
    width: 142px;
    border-radius: 100%;
    background-color: $color-video-play-bg;
    transition: background-color .3s ease-in-out;
    display: block;
    color: $color-video-play;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;

    &:hover,
    &:focus {
      background-color: $color-video-play-bg-hover;
      text-decoration: none;
      outline: none;
    }
  }

  .box--accent {
    .video-box__caption {
      background-color: $color-accent;
      color: $color-primary;
    }
  }
