.section {
  padding: 110px 0 130px;
  position: relative;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media(max-width: $screen-xs-max) {
    padding: 60px 0;
  }
}

// .section__background--parallax {
//     opacity: 0.5;
// }

.section--pattern {
  opacity: 0.92;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // background-image: url(../images/patterns/cream-pixels/cream-pixels.png);
  background-repeat: repeat;
  background-blend-mode: color-burn;
  zoom: 138%;

  .mobile & {
    background-image: none;
    background-blend-mode: inherit;
  }
}

.section--pattern-bg {
  background-image: url(../images/patterns/cream-pixels/cream-pixels.png);
  background-repeat: repeat;
  background-blend-mode: color-burn;

  .mobile & {
    background-image: none;
    background-blend-mode: inherit;
  }
}

.article {
  padding-top: 0;

  &.section--trans-header {
    color: inherit;
  }

  @media(max-width: $screen-xs-max) {
    display: block;
  }
}

.section--list {
  position: relative;
  border-top: 1px solid $color-section-list-border;
  border-bottom: 1px solid $color-section-list-border;
  height: 100%;
  overflow: hidden;
  padding: 60px 0 60px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 36%;
    // background-color: white;
    top: 0;

    @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
      left: 43%;
    }
    @media(max-width: $screen-sm-max) {
      display: none;
    }
  }
}
.section--notop {
  padding-top: 0;
}


.section--smallbot {
  padding-bottom: 50px;
}

.section--overlay {
  background-color: transparent;
  padding: 0;
  position: relative;
  top: 80px;
  margin-top: -80px;
  z-index: 11;
}

.section__side-overlay {

  width: 100%;
  height: 100%;
  background: rgba(47,52,53,0.70);

}

.section__background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section__overlay {
  background-color: $color-section-overlay-bg;
  height: 100%;
  padding-left: 70px;
  padding-right: 70px;
  color: $color-section-overlay;

  i {
    font-size: 75px;
    margin-bottom: 45px;
    display: block;
  }

  .headline__main {
    margin-bottom: 30px;
  }
}

.section--bg {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  padding: 130px 0;
  min-height: 643px;
  overflow: hidden;
  color: $color-section-bg;

  &.section--trans-header {
    color: inherit;
  }

  @media(max-width: $screen-xs-max) {
    display: block;
  }
}

.section--nobot {
  padding-bottom: 0;
}

.section--cta {
  padding: 65px 0;


}

.section--page {
  padding-top: 30px;
}

.section--trans-header {
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  padding: 50px 0;
}
