.fifty {
  width: 100%;
  // -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  //   -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  //   -ms-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  //   box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  @media(max-width: $screen-md-max) {
    margin-left: auto;
    margin-right: auto;
    max-width: 561px;
  }
  border-bottom: 5px solid $color-fifty-border;
  clear: both;
  overflow: hidden;
}

  .fifty__object,
  .fifty__content {
    width: 50%;
    min-height: 397px;
    max-height: 397px;
    display: inline-block;
    float: left;

    @media(max-width: $screen-md-max) {
      width: 100%;
      min-height: auto;
    }
  }

  .fifty__content  {
    @include display(flex);
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);
    padding: 70px;
    color: $color-fifty;
    background-color: $color-fifty-bg;

    @media(max-width: $screen-xs-max) {
      padding: 30px;
    }
  }

  .fifty__object {
    position: relative;
  }
  .fifty__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 142px;
    width: 142px;
    border-radius: 100%;
    background-color: $color-fifty-play-button-bg;
    transition: background-color .3s ease-in-out;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    font-size: 27px;
    color: $color-fifty-play-button;

    &:hover,
    &:focus {
      background-color: $color-fifty-play-button-bg-hover;
      text-decoration: none;
      outline: none;
    }
  }
