.widget {
  padding: 38px 30px;
  color: $color-widget;
  background: $color-widget-bg;
  background-image: url(../images/patterns/cream-pixels/cream-pixels.png);
  background-repeat: repeat;
  background-blend-mode: color-burn;

  &:nth-child(2) {
    background: $color-tertiary;
    color: #fff;
  }

  &:only-child {
    color: $color-white;
    background-image: url(../images/patterns/cream-pixels/cream-pixels.png);
    background-repeat: repeat;
    background-blend-mode: color-burn;
    // background-color: inherit;
  }
}
.widget--large {
  padding: 110px 55px;

  @media(max-width: $screen-sm-max) {
    padding: 38px 30px;
  }
}


  .widget__contact {
    a {
      font-weight: 400;

      &:hover {
        text-decoration: none;
      }
    }
  }


  .widget__headline {
    font-size: 19px;
    line-height: 24px;

    @media(max-width: $screen-sm-max) {
      text-align: center;

      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
