/*------------------------------------*\
  #LOGO
\*------------------------------------*/

.logo {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  position: relative;
  max-width: 360px;
  min-width: 290px;
  height: 100%;
}

  .logo__link {
    display: block;

    -webkit-transition: transform .3s ease-in-out;
       -moz-transition: transform .3s ease-in-out;
        -ms-transition: transform .3s ease-in-out;
         -o-transition: transform .3s ease-in-out;
            transition: transform .3s ease-in-out;


  }

  .logo__text {
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    .is-fixed & {
      fill: #222328;
    }
  }
