.product {
  min-height: 392px;
  padding: 25px 20px 30px;
  text-align: center;

}

  .product__image--shadow {
    -webkit-filter: drop-shadow(0px 65px 65px 0 #B23636);
    filter: drop-shadow(0px 65px 65px 0 #B23636);
    
  }