.accordion__title {
  background-color: $color-accordion-title-bg-color;
  border: 0 !important;
  padding: 20px 40px;
  margin: 15px 0 0 0;
  cursor: pointer;
  display: block;
  // border-radius: 5px;
  transition: background-color .3s;
  color: $color-accordion-title-text;
  text-transform: capitalize;
  // font-family: 'Open Sans';
  font-weight: 400;
  @include font-size(19px, 31px, .76px);

  @include hocus {
    outline: 0;
  }

  &.ui-state-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $color-accordion-title-active-bg-color;
    color: $color-accordion-title-active-text;
  }

  @media(max-width: $screen-xs-max) {
    padding: 15px 20px;
  }
}

.accordion__content {
  padding: 40px;
  border-top: 0;
  opacity: 0.85;
  overflow: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: $color-accordion-content-bg-color;
  color: $color-accordion-content-text;

  img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .flag,
  .flag__body {
    display: block;
  }

  @media(max-width: $screen-xs-max) {
    padding: 25px 20px;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
