.site-nav {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;

  @media(max-width: 1331px) {
    height: $navbar-height;
  }
}

.site-nav__contact {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  @include display(flex);
  @include flex-direction(column);
  text-align: center;

  @media(max-width: 1331px) {
    @include flex-direction(row);
    height: $contact-nav-height;
  }

  @media(max-width: $screen-xs-max) {
    display: none;
  }
}

.site-nav__item {
  display: table;
  float: left;
  height: 100%;
  position: relative;

  &:last-child {

    // .site-nav--dropdown & {
    //   .site-nav__dropdown & {
    //     left: -492px;
    //     background: red;
    //     ul {
    //       text-align: right;
    //     }
    //   }
    // }
    .site-nav--dropdown {
      .site-nav__dropdown {
        border-right: 1px Solid $color-site-nav-contact-border;
        left: -492px;
        text-align: right;
      }
    }


    // background: red;
    // ul {
    //
    // }
  }



  .site-nav--dropdown & {
    position: inherit;
    width: 100%;
  }

  .site-nav__dropdown & {
    height: initial;
    padding-right: 30px;
    // display: inline-block;
    // margin-bottom: -2px;
    // width: 100%;
    // float: none;
    // position: relative;
  }

  .site-nav__contact & {
    height: 50%;

    @media(max-width: 1331px) {
      border-right: 1px Solid $color-site-nav-contact-border;
    }

    &:last-child {
      border-top: 1px Solid $color-site-nav-contact-border;

      @media(max-width: 1331px) {
        border: 0;
      }
    }
  }

  &:hover {
    > .site-nav__dropdown {
      display: block;
      z-index: 15;

      .site-nav--dropdown & {
        visibility: visible;
          opacity: 1;
          transition-duration: 0.1s;
          -moz-transition-duration: 0.1s;
          -webkit-transition-duration: 0.1s;
          transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -webkit-transition-delay: 0.1s;
      }
    }
  }

  .site-nav__dropdown & {
    .site-nav--dropdown & {
      list-style: none;
      display: inline-table;
      float: none;
    }
  }

  .site-nav & {
    @media(max-width: 1331px) {
      display: none;
    }
  }
}

.site-nav__link {
  vertical-align: middle;
  display: table-cell;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  // font-family: 'Lato';
  font-weight: 700;
  color: $color-site-nav-link;

  @media(max-width: 1331px) {
    padding: 0 40px;
  }


  .site-nav__item:hover & {
    color: $color-site-nav-link-hover;
    background-color: $color-site-nav-bg-hover;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .site-nav__contact & {
    width: 173px;
    padding: 0;
    background-color: $color-site-nav-contact-bg;
    color: $color-site-nav-contact;

    &:hover {
      background-color: $color-site-nav-contact-bg-hover;
      color: $color-site-nav-contact-hover;
    }

    @media(max-width: 1331px) {
      height: $contact-nav-height;
      font-size: 14.5px;
    }

    @media(max-width: $screen-xs-max) {
      display: none;
    }
  }

  .site-nav--dropdown & {
    padding: 6px 0;
    font-size: 13px;

    .site-nav__item:hover & {
      color: $color-site-nav-sub;

      &:hover {
        color: $color-site-nav-sub-hover;
      }
    }
  }

  .site-nav__dropdown & {
    .site-nav--dropdown & {
      .site-nav__item:hover & {
        font-size: 17px;
        color: $color-site-nav-sub-sub;
        text-transform: capitalize;
        font-weight: normal;
        line-height: 18px;
        // font-family: "proxima nova";

        @media(max-width: 1331px) {
          font-size: 16px;
        }

        &:hover {
          color: $color-site-nav-sub-sub-hover;
        }
      }
    }
  }



}


  .site-nav__open {
    width: 35px;
    height: $hamburger-height;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 15px;
    top: $contact-nav-height + ( ( $navbar-height - $hamburger-height ) / 2 );

    @media(max-width: 1331px) {
      display: block;
    }

    @media(max-width: $screen-xs-max) {
      top: ( ( $navbar-height + $contact-nav-height ) - $hamburger-height ) / 2;
    }
  }

  .site-nav__open span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $color-site-nav-hamburger;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .site-nav__open span:nth-child(1) {
    top: 0px;
  }

  .site-nav__open span:nth-child(2),.site-nav__open span:nth-child(3) {
    top: 10px;
  }

  .site-nav__open span:nth-child(4) {
    top: 20px;
  }

  .site-nav__open.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .site-nav__open.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .site-nav__open.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .site-nav__open.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

.site-nav__dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: $color-site-nav-sub-bg;
  display: none;
  margin: 0;
  padding: 0;

  > .site-nav {
    padding: 50px 0 50px 30px;
    width: 207px;

    @media(max-width: 1331px) {
      height: 100%;
    }
  }

  .site-nav--dropdown & {
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 495px;
    padding: 50px 30px 50px 50px;
    columns: 2;
    text-align: left;
    opacity: 0;
    display: block;
    margin-left: -2px;
    -webkit-transition-property: visibility, opacity;
       -moz-transition-property: visibility, opacity;
            transition-property: visibility, opacity;

    -webkit-transition-function: linear;
       -moz-transition-function: linear;
            transition-timing-function: linear;

    -webkit-transition-duration: 0s, 0.5s;
       -moz-transition-duration: 0s, 0.5s;
            transition-duration: 0s, 0.5s;

    -webkit-transition-delay: 0.5s, 0.5s;
       -moz-transition-delay: 0.5s, 0.5s;
            transition-delay: 0.5s, 0.5s;

    @media(max-width: 1331px) {
      width: 455px;
      padding: 50px 15px 50px 30px;
    }

    ul {
      margin: 0;
      padding: 0;
      float: none;
      clear: both;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    &:after {
      content: "";
      background: $color-site-nav-sub-sub-border;
      position: absolute;
      bottom: 50px;
      opacity: .5;
      left: 0;
      height: 86%;
      width: 1px;
    }

  }

}
