.page-head {
  height: 100px;
  // background-color: transparent;
  will-change: transform;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;

  -webkit-transition: all 300ms ease;
     -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
       -o-transition: all 300ms ease;
          transition: all 300ms ease;

    background-color: $color-page-head-background;

    -webkit-box-shadow: 0 1px 12px 0 rgba(51,51,51,0.23);
      -moz-box-shadow: 0 1px 12px 0 rgba(51,51,51,0.23);
      -ms-box-shadow: 0 1px 12px 0 rgba(51,51,51,0.23);
      box-shadow: 0 1px 12px 0 rgba(51,51,51,0.23);


  > .container {
    max-width: 1500px;
    width: 100% !important;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

}
  .page-head__logo {
    width: 25%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: $color-page-head-logo-bg;
    float: left;
    min-width: 295px;

    .logo img {
      max-height: 100% !important;
    }
  }
  .page-head__nav {
    width: 75%;
    height: 100%;
    float: left;
    background-color: $color-page-head-nav-background;

    @media( max-width: 1185px ) {
      padding-left: 295px;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }
