.t-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

  .t-list__item {
    position: relative;
    padding: 60px 0;
    clear: both;
    z-index: 1;
    max-width: 666px;

    @media(max-width: $screen-sm-max) {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;

      .pull-left {
        width: 100%;
      }
    }
  }

  .t-list__title {
    text-transform: uppercase;
    width: 290px;
    margin-left: -430px;
    position: absolute;
    left: 0;
    text-align: right;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: .32px;
    word-spacing: 9000000px;

    &:before,
    &:after {
      content: '';
    display: block;
    position: absolute;
    right: -102px;
    top: 0px;
    width: 80px;
    height: 75px;
    border-right: 1px solid #979797;
    }

    &:before {
      top: 35px;
      height: 0px;
      border-top: 1px solid #979797;
    }

    @media(max-width: $screen-sm-max) {
      position: relative;
      width: 100%;
      word-spacing: inherit;
      text-align: center;
      margin-left: 0;

      &:before,
      &:after {
        display: none;
      }
    }
  }

    .t-list__content {
      font-size: 24px;
      line-height: 34px;
      letter-spacing: .32px;

      @media(max-width: $screen-sm-max) {
        text-align: center;
      }
    }