/*------------------------------------*\
  #TYPE
\*------------------------------------*/

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.text-bold { font-weight: 700; }
.text-large { 
  font-size: 28px; line-height: 50px; 
  @media(max-width: $screen-xs-max) {
    font-size: 20px;
    line-height: 40px;
  }
}