.text-primary {
  color: $color-primary;
}
.text-secondary {
 color: $color-secondary;
}
.text-tertiary {
  color: $color-tertiary;
}
.text-light {
  color: $color-white;
}
.text-accent {
  color: $color-accent;
}
.text-highlight {
  color: $color-highlight;
}

.bg-primary {
  background-color: $color-primary;
}
.bg-secondary {
  background-color: $color-secondary;
}
.bg-tertiary {
  background-color: $color-tertiary;
}
.bg-accent {
  background-color: $color-accent;
}
.bg-light {
  background-color: $color-white;
}
.bg-custom {
  background-color: $color-custom-one;
}
