/*------------------------------------*\
  #HEADLINE
\*------------------------------------*/

.headline {
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  color: $color-headlines;


  @media (max-width: $screen-sm-max) {
    max-width: 100%;
  }

  @media(max-width: $screen-xs-max) {
    margin-bottom: 35px;
  }

  .section--cta & {
    margin-bottom: 0;
  }

  span {
    font-weight: 700;
  }

  .widget & {
    margin-bottom: 0;
  }

  &:only-child {
    p {
      margin-bottom: 0;
    }
  }

  .section--trans-header & {
    p {
      color: #fff;
    }
  }


}
.headline__eyebrow {
  @include font-size(14px, 24px, 0px, uppercase );
  font-weight: 700;

}

.headline--center {
  text-align: center;
}

.headline__main {
  display: block;
  text-transform: uppercase;
  margin-bottom: 35px;

  @media (max-width: 767px) {
    font-size: 1.4736842rem;
    line-height: 39.2px;
  }

  .section--cta & {
    font-weight: 300;
    font-size: 42px;
    line-height: 50px;
    text-transform: inherit;

    strong {
      font-weight: 700;
    }
  }

  &:only-child {
    margin-bottom: 75px;
    .section--cta & {
      margin-bottom: 40px;
    }
  }


}

.headline_sub {
  &:last-child {
    margin-bottom: 75px;
  }
}

.headline__main--max {
  max-width: 722px;
  margin-left: auto;
  margin-right: auto;
}
.headline__underline {
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 120px;
    height: 3px;
    background: $color-headlines-underline;
    .headline--center & {
      left: 50%;
    transform: translateX(-50%);
    }
  }
}

.headline__underline--primary {
    &:after {
      background: $color-primary;
    }
}

.headline__underline--white {
    &:after {
      background: $color-white;
    }
}

.headline__eyebrow {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 5px;
  color: #7B888C;
  font-weight: 600;
  margin-bottom: 20px;
}
