.flag {
  display: table;
  width: 100%;

  .section--trans-header & {
    margin-bottom: 35px;
  }
}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;

  .flag--top & {
    vertical-align: top;
  }

  .flag--bottom & {
    vertical-align: bottom;
  }

}

.flag__image {
  padding-right: 30px;

  > img {
    display: block;
    max-width: none;
  }

  .flag--rev & {
    padding-right: 0;
    padding-left: 30px;
  }

}

.flag__body {
  width: 100%;

  strong {
    color: $color-strong-tag;
  }
}
